#Icon_open-timer_e {
	fill: rgba(43,104,160,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.800000011920929px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_open-timer_e {
    overflow: visible;
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translate(0px, 2px) matrix(1,0,0,1,0,1) rotate(0deg);
    transform-origin: center;
    left: -15px;
    top: 3px;
}
#Icon_metro-earth2_ff {
	fill: rgba(43,104,160,1);
	stroke: rgba(255,255,255,1);
	stroke-width: 0.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_metro-earth2_ff {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: -15px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#surface1_e {
    position: absolute;
    width: 14.424px;
    height: 19.514px;
    left: -10px;
    top: 2px;
    overflow: visible;
}
#Path_2048_e {
	fill: rgba(43,104,160,1);
	stroke: rgba(43,104,160,1);
	stroke-width: 0.10000000149011612px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2048_e {
	overflow: visible;
	position: absolute;
	width: 4.34px;
	height: 4.341px;
	left: 0.001px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2051_fa {
	fill: rgba(43,104,160,1);
	stroke: rgba(43,104,160,1);
	stroke-width: 0.10000000149011612px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2051_fa {
	overflow: visible;
	position: absolute;
	width: 14.562px;
	height: 15.815px;
	left: 0px;
	top: 3.819px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2052_fb {
	fill: rgba(43,104,160,1);
	stroke: rgba(43,104,160,1);
	stroke-width: 0.10000000149011612px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2052_fb {
	overflow: visible;
	position: absolute;
	width: 3.494px;
	height: 6.039px;
	left: 5.515px;
	top: 10.181px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1934_fl {
	fill: rgba(43,104,160,1);
}
.Path_1934_fl {
	overflow: visible;
	position: absolute;
	width: 21.253px;
	height: 16.722px;
	left: -15px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_feather-calendar_fr {
	position: absolute;
	width: 14.488px;
	height: 16.098px;
	left: -12px;
	top: 4px;
	overflow: visible;
}
#Path_1916_fs {
	fill: transparent;
	stroke: rgba(43,104,160,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1916_fs {
	overflow: visible;
	position: absolute;
	width: 15.488px;
	height: 15.488px;
	left: 0px;
	top: 1.609px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1917_ft {
	fill: transparent;
	stroke: rgba(43,104,160,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1917_ft {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 4.22px;
	left: 10.464px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1918_fu {
	fill: transparent;
	stroke: rgba(43,104,160,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1918_fu {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 4.22px;
	left: 4.024px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_1919_fv {
	fill: transparent;
	stroke: rgba(43,104,160,1);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1919_fv {
	overflow: visible;
	position: absolute;
	width: 15.488px;
	height: 1px;
	left: 0px;
	top: 6.439px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_42274_ew {
	fill: transparent;
	stroke: rgba(69,69,69,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_42274_ew {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 17.007px;
    right: 70px;
    top: 15px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_84889_ex {
	transform: translate(-6397px, 11100px) matrix(1,0,0,1,7106,-11077) rotate(90deg);
	transform-origin: center;
	position: absolute;
	width: 16px;
	height: 4px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Shape_ey {
	fill: rgba(69,69,69,1);
}
.Shape_ey {
	overflow: visible;
	position: absolute;
	width: 4px;
	height: 4px;
	transform: translate(188px, -772px) matrix(1,0,0,1,784,184) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Shape_ez {
	fill: rgba(69,69,69,1);
}
.Shape_ez {
	overflow: visible;
	position: absolute;
	width: 4px;
	height: 4px;
	transform: translate(188px, -772px) matrix(1,0,0,1,772,184) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Shape_e {
	fill: rgba(69,69,69,1);
}
.Shape_e {
	overflow: visible;
	position: absolute;
	width: 4px;
	height: 4px;
	transform: translate(188px, -772px) matrix(1,0,0,1,778,184) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}

#arrow-down-sign-to-navigate {
    position: absolute;
    width: 8px;
    height: 6px;
    left: 94px;
    top: 27px;
    overflow: visible;
}
#Path_34556 {
	fill: rgba(43,104,160,1);
	stroke: rgba(43,104,160,1);
	stroke-width: 0.699999988079071px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_34556 {
    overflow: visible;
    position: absolute;
    width: 10.822px;
    height: 7.7px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}





#arrow-down-sign-to-navigate_bz {
	position: absolute;
	width: 10px;
	height: 6px;
	left: 175px;
	top: 28px;
	overflow: visible;
}
#Path_34556_b {
	fill: rgba(69,69,69,1);
	stroke: rgba(69,69,69,1);
	stroke-width: 0.699999988079071px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_34556_b {
	overflow: visible;
	position: absolute;
	width: 10.822px;
	height: 6.7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}



#arrow-down-sign-to-navigate_bv {
	position: absolute;
	width: 10px;
	height: 6px;
	left: 262px;
	top: 28px;
	overflow: visible;
}
#Path_34556_bw {
	fill: rgba(69,69,69,1);
	stroke: rgba(69,69,69,1);
	stroke-width: 0.699999988079071px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_34556_bw {
	overflow: visible;
	position: absolute;
	width: 10.822px;
	height: 6.7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}



#arrow-down-sign-to-navigate_bz {
	position: absolute;
	width: 10px;
	height: 6px;
	left: 175px;
	top: 28px;
	overflow: visible;
}
#Path_34556_b {
	fill: rgba(69,69,69,1);
	stroke: rgba(69,69,69,1);
	stroke-width: 0.699999988079071px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_34556_b {
	overflow: visible;
	position: absolute;
	width: 10.822px;
	height: 6.7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}


#Path_34556_ca {
	fill: rgba(69,69,69,1);
	stroke: rgba(69,69,69,1);
	stroke-width: 0.699999988079071px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_34556_ca {
	overflow: visible;
	position: absolute;
	width: 10.822px;
	height: 6.7px;
	left: 355px;
	top: 28px;
	transform: matrix(1,0,0,1,0,0);
}



#Path_34556_cb {
	fill: rgba(69,69,69,1);
	stroke: rgba(69,69,69,1);
	stroke-width: 0.699999988079071px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_34556_cb {
	overflow: visible;
	position: absolute;
	width: 10.822px;
	height: 6.7px;
	left: 450px;
	top: 27px;
	transform: matrix(1,0,0,1,0,0);
}



#arrow-down-sign-to-navigate_cb {
	position: absolute;
	width: 10px;
	height: 6px;
	left: 528px;
	top: 28px;
	overflow: visible;
}
#Path_34556_cc {
	fill: rgba(69,69,69,1);
	stroke: rgba(69,69,69,1);
	stroke-width: 0.699999988079071px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_34556_cc {
	overflow: visible;
	position: absolute;
	width: 10.822px;
	height: 6.7px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}


#Path_1617 {
	fill: rgba(255,255,255,1);
}
.Path_1617 {
    overflow: visible;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 498px;
    bottom: 35px;
    /* top: -10px; */
    transform: matrix(1,0,0,1,0,0)
}

#Path_1634 {
	fill: rgba(19,184,235,1);
}
.Path_1634 {
	overflow: visible;
	position: absolute;
	width: 2.05px;
	height: 2.661px;
	left: 542.679px;
	top: 16.475px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-people {
	fill: transparent;
	stroke: rgba(238,238,238,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_material-people {
    overflow: visible;
    position: absolute;
    width: 30px;
    height: 20px;
    left: 633.5px;
    /* top: 9px; */
    bottom: 35px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-paper-plane {
	fill: transparent;
	stroke: rgba(238,238,238,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_awesome-paper-plane {
    overflow: visible;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 560.5px;
    bottom: 35px;
    /* top: -13px; */
    transform: matrix(1,0,0,1,0,0);
}
#Icon_material-message {
	fill: transparent;
	stroke: rgba(238,238,238,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_material-message {
    overflow: visible;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 735.5px;
    bottom: 35px;
    /* top: 8.442px; */
    transform: matrix(1,0,0,1,0,0)
}
#Icon_material-notifications-ac {
	fill: transparent;
	stroke: rgba(238,238,238,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_material-notifications-ac {
    overflow: visible;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 834.5px;
    bottom: 35px;
    /* top: -11.183px; */
    transform: matrix(1,0,0,1,0,0);
}

#Me {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 19px;
	white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(242,242,242,1);
}
#path {
	fill: rgba(242,242,242,1);
}
.path {
	overflow: visible;
	position: absolute;
	width: 11px;
	height: 6.224px;
	/* left: 22px; */
    right: 12px;
	top: 10px;
	transform: matrix(1,0,0,1,0,0);
}